<div class="container">
  <form>
    <table cellspacing="0">
      <thead>
        <h2 class="mat-title">Enter your data</h2>
      </thead>
      <tbody>
        <tr>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>E-mail</mat-label>
              <input matInput required />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput required />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>Skype</mat-label>
              <input matInput required />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>Phone (Whatsapp):</mat-label>
              <input
                matInput
                type="tel"
                required
                placeholder="+55 11 9 9099-9099"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>Linkedin</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>City</mat-label>
              <input matInput required />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>State</mat-label>
              <input matInput required />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>Portfolio</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
